@model IEnumerable<GereciamentoCondominios.Models.Apartamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bloco.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Andar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bloco.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Andar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pk_Apartamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pk_Apartamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pk_Apartamento })
        </td>
    </tr>
}

</table>
